@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*====================== Start Header ==========================*/

.Header .Header-Flex {
  display: flex;
  justify-content: space-around;
}
.Header .User-Login {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 10px;
  margin-right: -250px;
  justify-content: space-around;
}
.Header .User-Login-Pic {
  width: 100px;
  border-radius: 50px;
  height: 100px;
}
.Header .User-Login h3 {
  font-weight: 500;
}
.Header .Logo {
  padding: 60px 15px 70px 15px;
  width: 120px;
  height: auto;
  text-align: center;
  margin: auto;
}

/*====================== End Header ==========================*/

/*================== Start Login Signup =========================*/

.Login-Signup-Page-BG {
  background-image: url("/img/Login-Signup-BG1.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  height: auto;
}

.Login-Signup-Page-BG .Logo {
  padding: 250px 15px 70px 15px;
  max-width: 120px;
  height: auto;
  text-align: center;
  margin: auto;
}

.Login-Signup-Page-BG .Logo img {
  width: 100%;
}

.Login-Signup-Page-BG .Login-Signup-Page-Button {
  max-width: 500px;
  margin: auto;
}

.Login-Signup-Page-BG .Login-Signup-Page-Button button a {
  width: 100%;
  margin-top: 10px;
  background-color: white;
  border: #dcdcdc 1px solid;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  padding: 7px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.Login-Signup-Page-BG .Login-Signup-Page-Button button {
  border: none;
  display: flex;
  width: 100%;
  background: none;
}

.Login-Signup-Page-Texts {
  margin-top: 100px;
}

.Login-Signup-Page-Texts p {
  margin: auto;
  max-width: 750px;
  line-height: 1.5;
}

.Login-Signup-Page-Texts h3 {
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 10px;
}

.Login-Signup-Page-Button h3 {
  font-weight: 400;
  margin-bottom: 5px;
}

/*================== End Login Signup =========================*/

/*================== Start Login =========================*/

.Login-Page-BG {
  background-image: url("/img/Login-Signup-BG1.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  height: auto;
}

.Login-Page-BG .Logo {
  padding: 250px 15px 70px 15px;
  padding-bottom: 70px;
  max-width: 120px;
  height: auto;
  text-align: center;
  margin: auto;
}

.Login-Page-BG .Logo img {
  width: 100%;
}

.Login-Page-Input-1 {
  max-width: 400px;
  margin: auto;
  align-items: center;
  /* text-align: center; */
  min-height: 80px;
  justify-content: center;
  position: relative;
  display: flex;
}

.Login-Page-Input-2 {
  max-width: 400px;
  margin: auto;
  align-items: center;
  min-height: 80px;
  justify-content: center;
  position: relative;
  display: flex;
}

.Login-Page-BG button {
  width: 100%;
  margin-top: 10px;
  background-color: white;
  border: #dcdcdc 1px solid;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 50px;
  padding: 7px;
  font-weight: 500;
}

.Login-Page-BG button a {
  text-decoration: none;
  color: black;
}

.field-group {
  width: 600px;
  position: relative;
  padding-top: 15px;
}

.input-field {
  width: 100%;
  outline: 0;
  text-align: center;
  border: 0;
  border-bottom: 2px solid #999999;
  padding: 10px 0;
  background: transparent;
  font-size: 20px;
  color: #000;
  transition: 0.3s ease;
}

.input-label {
  display: block;
  position: absolute;
  top: 0;
  font-size: 1em;
  color: #333333;
  /* text-transform: uppercase; */
  transition: 0.3s ease;
}

.input-field::placeholder {
  color: transparent;
}

.input-field:placeholder-shown ~ .input-label {
  font-size: 20px;
  top: 30px;
}

.input-field:focus {
  border-image: linear-gradient(to right, #637a73, #637a73);
  border-image-slice: 1;
}

.input-field:focus ~ .input-label {
  display: block;
  position: absolute;
  top: 0;
  font-size: 1em;
  color: #637a73;
}

.Login-Page-Texts {
  margin-top: 100px;
}

.Login-Page-Texts p {
  margin: auto;
  max-width: 750px;
  line-height: 1.5;
}

.Login-Page-Texts h3 {
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 10px;
}

.Login-Page-Button h3 {
  font-weight: 400;
  margin-bottom: 5px;
}

.Login-Page-BG .Login-Button {
  max-width: 350px;
  text-align: center;
  margin: auto;
}

.Login-Page-BG .Login-Button a {
  text-decoration: none;
  color: #000;
}

/*================== End Login =========================*/

/*================== Start Signup =========================*/

.Signup-Page-BG {
  background-image: url("/img/Login-Signup-BG1.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  height: auto;
}

.Signup-Page-BG .Logo {
  padding: 250px 15px 70px 15px;
  max-width: 120px;
  height: auto;
  text-align: center;
  margin: auto;
}

.Signup-Page-BG .Logo img {
  width: 100%;
}

.Signup-Page-Input-1 {
  max-width: 400px;
  margin: auto;
  align-items: center;
  min-height: 70px;
  justify-content: center;
  position: relative;
  padding: 0 15px;
  display: flex;
}

.Signup-Page-Input-2 {
  max-width: 400px;
  margin: auto;
  align-items: center;
  font-family: "Poppins", sans-serif;
  min-height: 70px;
  justify-content: center;
  position: relative;
  display: flex;
  padding: 0 15px;
}

.Signup-Page-Input-3 {
  max-width: 400px;
  margin: auto;
  align-items: center;
  font-family: "Poppins", sans-serif;
  min-height: 70px;
  justify-content: center;
  position: relative;
  padding: 0 15px;
  display: flex;
}

.Signup-Page-BG button {
  width: 100%;
  margin-top: 10px;
  background-color: white;
  border: #dcdcdc 1px solid;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 50px;
  padding: 7px;
  font-weight: 500;
}

.Signup-Page-BG button a {
  text-decoration: none;
  color: black;
}

.field-group {
  max-width: 600px;
  position: relative;
  padding-top: 15px;
}

.input-field {
  width: 100%;
  outline: 0;
  text-align: center;
  border: 0;
  border-bottom: 2px solid #999999;
  padding: 10px 0;
  background: transparent;
  font-size: 20px;
  color: #000;
  transition: 0.3s ease;
}

.input-label {
  display: block;
  position: absolute;
  top: 0;
  font-size: 1em;
  color: #333333;
  /* text-transform: uppercase; */
  transition: 0.3s ease;
}

.input-field::placeholder {
  color: transparent;
}

.input-field:placeholder-shown ~ .input-label {
  font-size: 20px;
  top: 25px;
}

.input-field:focus {
  border-image: linear-gradient(to right, #637a73, #637a73);
  border-image-slice: 1;
}

.input-field:focus ~ .input-label {
  display: block;
  position: absolute;
  top: 0;
  font-size: 1em;
  color: #637a73;
}

.Signup-Page-Texts {
  margin-top: 100px;
  padding: 0 15px;
}

.Signup-Page-Texts p {
  margin: auto;
  max-width: 750px;
  line-height: 1.5;
}

.Signup-Page-Texts h3 {
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 10px;
}

.Signup-Page-Button h3 {
  font-weight: 400;
  margin-bottom: 5px;
}

.Signup-Page-BG .Signup-Button {
  max-width: 350px;
  text-align: center;
  margin: auto;
}

.Signup-Page-BG .Signup-Button a {
  text-decoration: none;
  color: #000;
}

/*================== End Signup =========================*/

/*================== Start Patient Details ===============*/

.Patient-Details-BG {
  background-image: url("/img/Login-Signup-BG1.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  height: auto;
}

.Patient-Details-BG .Patient-Details-Logo {
  width: 100px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Patient-Details-BG .Main-Div {
  width: 1400px;
  height: 920px;
  border-radius: 30px;
  margin: auto;
  /* background-color: white; */
}

.Patient-Details-BG .Main-Div h3 {
  padding-top: 20px;
  font-size: 25px;
  font-weight: 500;
}

.Patient-Details-BG .Main-Div .Input-Flex .row-1 {
  display: flex;
  justify-content: space-between;
}

.Patient-Details-BG .Main-Div .Input-Flex .row-2 {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.Patient-Details-BG .Main-Div .Input-Flex .row-3 {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.field-group {
  max-width: 600px;
  position: relative;
  padding-top: 15px;
}

.input-field-1 {
  width: 100%;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #d9d9d9;
  padding: 10px 0;
  background: transparent;
  font-size: 20px;
  color: #000;
  text-align: left;
  transition: 0.3s ease;
}

.input-label {
  display: block;
  position: absolute;
  top: 0;
  font-size: 1em;
  color: #4d4d4d;
  /* text-transform: uppercase; */
  transition: 0.3s ease;
}

.input-field-1::placeholder {
  color: transparent;
}

.input-field-1:placeholder-shown ~ .input-label {
  font-size: 20px;
  top: 25px;
  font-weight: 400;
}

.input-field-1:focus {
  border-image: linear-gradient(to right, #637a73, #637a73);
  border-image-slice: 1;
}

.input-field-1:focus ~ .input-label {
  display: block;
  position: absolute;
  top: 0;
  font-size: 1em;
  color: #637a73;
}

.Patient-Details-Inputs {
  max-width: 400px;
  margin: auto;
  align-items: center;
  min-height: 70px;
  position: relative;
  padding: 0 15px;
  display: flex;
}

.Patient-Details-BG button {
  width: 400px;
  margin-top: 10px;
  background-color: white;
  border: #dcdcdc 1px solid;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 50px;
  padding: 7px;
  font-weight: 500;
}
.Tooth-Description-Total .Add-Btn {
  width: 300px;
  margin-top: 10px;
  border-radius: 30px;
  border: 0px;
  font-size: 28px;
  cursor: pointer;
  font-weight: 500;
  background: #e77070;
  width: 200px;
  color: #fff;
}

.Patient-Details-BG button a {
  text-decoration: none;
  color: #000;
}
.Patient-Details-BG .Details-Inputs {
  margin-top: 100px;
}
.Patient-Details-BG .Details-Inputs .side-input {
  width: 400px;
  text-align: center;
  padding: 10px;
  border: 1px solid #d9d9d9;
  background: none;
  outline: none;
}

.Patient-Details-BG .Main-Div .Details-Inputs .center-input {
  width: 850px;
  border: 1px solid #d9d9d9;
  padding: 10px;
  background: none;
  outline: none;
}

.Patient-Details-BG .Details-Inputs .Detail-Heading-Text h3 {
  font-size: 20px;
}

.Patient-Details-BG .Details-Inputs .Detail-Heading-Text {
  display: flex;
  justify-content: center;
  gap: 20%;
  margin-bottom: 10px;
}

.Patient-Details-BG .Plus-Btn {
  background: #e77070;
  width: 200px;
  font-size: 30px;
  color: white;
  transform: 0.5s ease;
  padding: 0px;
}
.Patient-Details-BG .Save-Btn {
  background: #b3e770;
  width: 200px;
  font-size: 22px;
  color: #4d4d4d;
  transform: 0.5s ease;
}
.Save-Btn {
  width: 300px;
  margin-top: 10px;
  border-radius: 30px;
  border: 0px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  background: #b3e770;
  width: 200px;
  color: #4D4D4D;
}

.Tooth-Description-Total .Details-Inputs .side-input {
  width: 100px;
  padding: 10px;
  border: 1px solid #d9d9d9;
  outline: none;
  background: none;
}

.Tooth-Description-Total .Details-Inputs .center-input {
  width: 850px;
  border: 1px solid #d9d9d9;
  background: none;

  padding: 10px;
  /* padding-top: 100px; */
  outline: none;
}
.Tooth-Description-Total .side-input-flex {
  display: flex;
  width: 200px;
}

.Tooth-Description-Total .Details-Inputs .Detail-Heading-Text h3 {
  font-size: 20px;
}

.Tooth-Description-Total .Details-Inputs .Detail-Heading-Text {
  display: flex;
  justify-content: center;
  gap: 29%;
  padding-top: 50px;
  margin-bottom: 10px;
}

.Tooth-Description-Total {
  width: 1500px;
  height: 800px;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.021), 0 6px 2px 0 rgba(0, 0, 0, 0.041);
  transform: 0.5s;
  overflow-y: auto;
  background: #ececec;
  border-radius: 30px;
  justify-content: center;
  text-align: center;
}
.Tooth-Description-Total .Details-Inputs .side-input-price {
  width: 200px;
  padding: 10px;
  background: none;
  border: 1px solid #d9d9d9;
  outline: none;
}

.Tooth-Description-Total .Details-Inputs .side-input-main-flex {
  display: flex;
  justify-content: center;
}

.Tooth-Description-Total .Submit-Btn {
  width: 300px;
  margin-top: 10px;
  background-color: white;
  border: #dcdcdc 1px solid;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  padding: 7px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
.Details-Inputs .fake-input-flex {
  display: flex;
  justify-content: center;
}
.Details-Inputs .fake-input-flex .fake-input {
  width: 250px;
  padding: 5px;
  border: 1px solid #d9d9d9;
}
.Details-Inputs .fake-input-flex .fake-input-long {
  width: 550px;
  padding: 5px;
  border: 1px solid #d9d9d9;
}
.Details-Inputs .fake-input-flex h4 {
  font-size: 20px;
  font-weight: 400;
}

.Details-Inputs input {
  width: 200px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #d9d9d9;
  padding: 10px 0;
  background: transparent;
  font-size: 20px;
  color: #000;
  text-align: left;
  transition: 0.3s ease;
}
.Tooth-Description-Total .Details-Inputs {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}
.Tooth-Description-Total .Details-Inputs .left-side-input {
  gap: 50px;
  display: flex;
}
.Tooth-Description-Total .Treatment-Price {
  width: 100px;
  margin-top: 80px;
  justify-content: center;
  display: flex;
}
.Tooth-Description-Total .Treatment-Price input {
  width: 35px;
  padding: 5px;
  text-align: center;
  font-size: 18px;
}
.Tooth-Description-Total .Treatment-Price .left-top-input {
  border: 0;
  background: none;
  outline: none;
  border-bottom: 3px solid #D9D9D9;
}
.Tooth-Description-Total .Treatment-Price .right-top-input {
  border: 0;
  background: none;
  outline: none;
  border-left: 3px solid #D9D9D9;
  border-bottom: 3px solid #D9D9D9;
}
.Tooth-Description-Total .Treatment-Price .left-bottom-input {
  border: 0;
  background: none;
  outline: none;
}
.Tooth-Description-Total .Treatment-Price .right-bottom-input {
  border: 0;
  background: none;
  outline: none;
  border-left: 3px solid #D9D9D9;
}
.Tooth-Description-Total .Treatment-Price-Flex{
  display: flex;
justify-content: center;
gap: 10px;
align-items: center;
} 
.Tooth-Description-Total .Treatment-Price-Flex textarea{
padding: 10px;
border: 0;
border-bottom: 2px solid #D9D9D9;
background: none;
outline: none;
margin-top:80px ;
} 
.Tooth-Description-Total .Treatment-Price-Flex .Price-input{
  margin-top: 100px;
}
.Tooth-Description-Total .Popup-Buttons{
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

/*===============  End Patient Details =================*/

/*================== Start Treatment Plan ==================*/

.Treatment-Plan-BG {
  background-image: url("/img/Login-Signup-BG1.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  height: auto;
}

.Treatment-Plan-BG .Logo {
  padding: 250px 15px 70px 15px;
  max-width: 558px;
  height: auto;
  text-align: center;
  margin: auto;
}

.Treatment-Plan-BG .Logo img {
  width: 100%;
}

.Treatment-Plan-Flex {
  max-width: 1200px;
  margin: auto;
}

.Treatment-Plan-Flex .teeth img {
  margin-top: 50px;
  width: 100%;
  height: auto;
  padding: 0 10px;
}
/*================== End Treatment Plan ==================*/

/*================== Start Things ==================*/

.Things-BG {
  background-image: url("/img/Login-Signup-BG1.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}
.Things-BG .Box-Flex {
  padding-top: 100px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-bottom: 150px;
}
.Things-BG .Logo {
  padding: 80px 15px 70px 15px;
  padding-bottom: 70px;
  max-width: 120px;
  height: auto;
  text-align: center;
  margin: auto;
}
.Things-BG .Bottom-Text p {
  width: 794px;
  color: #929292;
  margin: auto;
  margin-bottom: 50px;
}
.Things-BG .Bottom-Text h3 {
  font-weight: 400;
  padding-bottom: 20px;
}
.Things-BG .Box-Flex a {
  text-decoration: none;
  color: black;
}

/*================ Box 1 ========================*/

.Things-BG .Box-Flex .Box-01 {
  text-align: center;
  width: 300px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.075),
    0 3px 40px 0 rgba(0, 0, 0, 0.062);
  padding: 20px;
  height: 500px;
  cursor: pointer;
  border-radius: 40px;
  background: #ffd978;
  border: 4px solid #e9c058;
  transition: 0.5s ease;
}
.Things-BG .Box-Flex .Box-01:hover {
  scale: 1.1;
}

.Things-BG .Box-Flex .Box-01 .Box-Text h3 {
  margin-bottom: 50px;
  font-weight: 500;
  line-height: 0.5;
  font-size: 40px;
}
.Things-BG .Box-Flex .Box-01 .Box-Text p {
  /* margin-bottom: 50px; */
  font-weight: 300;
  margin: auto;
  max-width: 231px;
  font-size: 13px;
}
.Things-BG .Box-Flex .Box-01 .Icon-Circle img {
  width: 250px;
  height: 250px;
}
.Things-BG .Bottom-Text {
  text-align: center;
}

/*=========================== Box 1 ==========================*/

/*========================= Box 2 ==========================*/

.Things-BG .Box-Flex .Box-02 {
  text-align: center;
  width: 300px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.075),
    0 3px 40px 0 rgba(0, 0, 0, 0.062);
  padding: 20px;
  height: 500px;
  cursor: pointer;
  border-radius: 40px;
  background: #bad6ff;
  border: 4px solid #8da4c7;
  transition: 0.5s ease;
}
.Things-BG .Box-Flex .Box-02:hover {
  scale: 1.1;
}

.Things-BG .Box-Flex .Box-02 .Box-Text h3 {
  margin-bottom: 50px;
  font-weight: 400;
  line-height: 0.5;
  font-size: 40px;
}
.Things-BG .Box-Flex .Box-02 .Box-Text p {
  /* margin-bottom: 50px; */
  font-weight: 300;
  margin: auto;
  max-width: 231px;
  font-size: 13px;
}
.Things-BG .Box-Flex .Box-02 .Icon-Circle img {
  width: 250px;
  height: 250px;
}

/*========================= Box 2 ==========================*/

/*========================= Box 3 ==========================*/

.Things-BG .Box-Flex .Box-03 {
  text-align: center;
  width: 300px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.075),
    0 3px 40px 0 rgba(0, 0, 0, 0.062);
  padding: 20px;
  height: 500px;
  cursor: pointer;
  border-radius: 40px;
  background: #c6ffdd;
  border: 4px solid #81ae93;
  transition: 0.5s ease;
}
.Things-BG .Box-Flex .Box-03:hover {
  scale: 1.1;
}

.Things-BG .Box-Flex .Box-03 .Box-Text h3 {
  margin-bottom: 50px;
  font-weight: 400;
  line-height: 0.5;
  font-size: 40px;
}
.Things-BG .Box-Flex .Box-03 .Box-Text p {
  /* margin-bottom: 50px; */
  font-weight: 300;
  margin: auto;
  max-width: 231px;
  font-size: 13px;
}
.Things-BG .Box-Flex .Box-03 .Icon-Circle img {
  width: 250px;
  height: 250px;
}

/*========================= Box 3 ==========================*/

/*================== End Things ==================*/

/*====================== All Patient =================*/

.All-Patient-BG {
  background-image: url("/img/Login-Signup-BG1.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}
.All-Patient-BG .Logo {
  padding: 80px 15px 70px 15px;
  padding-bottom: 70px;
  max-width: 120px;
  height: auto;
  text-align: center;
  margin: auto;
}
.All-Patient-BG .All-Patient-Header {
  display: flex;
  justify-content: space-around;
}
.All-Patient-BG .Appointment-Button {
  display: flex;
  align-items: center;
}
.All-Patient-BG .Appointment-Button button {
  /* padding: 10px; */
  width: 50px;
  border: none;
  font-size: 30px;
  font-weight: 500;
  color: white;
  background: #e77070;
  cursor: pointer;
  border-radius: 50px;
  height: 50px;
}
.All-Patient-BG .Appointment-Button h4 {
  font-size: 20px;
  margin-right: 10px;
  margin-left: 20px;
  font-weight: 400;
  color: #929292;
}
.All-Patient-BG .Appointment-Button input {
  border: none;
  transition: 0.5s ease;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.075),
    0 3px 40px 0 rgba(0, 0, 0, 0.062);
  outline: none;
  border-radius: 30px;
  width: 300px;
}
.All-Patient-BG .All-Patient-Header h2 {
  font-size: 40px;
  color: #929292;
  font-weight: 500;
}
.All-Patient-BG .First-Patient {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  width: 1700px;
  margin: auto;
  gap: 100px;
}
.All-Patient-BG .First-Patient .patient-id {
  display: flex;
  align-items: center;
  gap: 10px;
}
.All-Patient-BG .First-Patient .patient-id img {
  border-radius: 50px;
  width: 70px;
  height: 70px;
}
.All-Patient-BG .Patients-List {
  margin-top: 50px;
}
.All-Patient-BG .Patients-List h4 {
  font-size: 20px;
  font-weight: 500;
}
.All-Patient-BG .Patients-List p {
  font-size: 16px;
  font-weight: 500;
  color: #929292;
}
/*====================== All Patient =================*/
