@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*====================== Start Header ==========================*/

.Header .Header-Flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Header .User-Login {
  display: flex;
  align-items: center;
  text-align: left;
  width: 60px;
  gap: 10px;
}
.Header .User-Login-Pic {
  max-width: 60px;
  border-radius: 50px;
  height: 60px;
}
.Header .User-Login h3 {
  font-weight: 500;
  font-size: 15px;
  width: 150px;
}
.Header .Logo {
  padding: 80px 0 70px 0;
  width: 80px;
  text-align: center;
}
.Header .User-Login p {
  font-size: 13px;
}
.Header .Header-Flex .back-button {
  text-align: center;
  font-size: 35px;
  border: 2px solid #939393;
  color: white;
  background: #afafaf;
  border-radius: 100%;
  transition: 0.5s ease;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.Header .Header-Flex .back-button:hover {
  scale: 1.1;
}

/*====================== End Header ==========================*/

/*================== Start Login Signup =========================*/

.Login-Signup-Page-BG {
  background-image: url("/img/Login-Signup-BG1.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.Login-Signup-Page-BG .Logo {
  padding: 250px 15px 70px 15px;
  max-width: 120px;
  height: auto;
  text-align: center;
  margin: auto;
}

.Login-Signup-Page-BG .Logo img {
  width: 100%;
}

.Login-Signup-Page-BG .Login-Signup-Page-Button {
  max-width: 500px;
  padding: 10px;
  margin: auto;
}

.Login-Signup-Page-BG .Login-Signup-Page-Button button a {
  width: 100%;
  margin-top: 10px;
  background-color: white;
  border: #dcdcdc 1px solid;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  padding: 7px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.Login-Signup-Page-BG .Login-Signup-Page-Button button {
  border: none;
  display: flex;
  width: 100%;
  background: none;
}

.Login-Signup-Page-Texts {
  margin-top: 100px;
}

.Login-Signup-Page-Texts p {
  margin: auto;
  max-width: 750px;
  padding: 10px;
  line-height: 1.5;
}

.Login-Signup-Page-Texts h3 {
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 10px;
}

.Login-Signup-Page-Button h3 {
  font-weight: 400;
  margin-bottom: 5px;
}

/*================== End Login Signup =========================*/

/*================== Start Login =========================*/

.Login-Page-BG {
  background-image: url("/img/Login-Signup-BG1.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  overflow-y: auto;
  background-repeat: no-repeat;
  height: 100vh;
}

.Login-Page-BG .Logo {
  padding: 250px 15px 70px 15px;
  padding-bottom: 70px;
  max-width: 120px;
  height: auto;
  text-align: center;
  margin: auto;
}

.Login-Page-BG .Logo img {
  width: 100%;
}

.Login-Page-Input-1 {
  max-width: 400px;
  margin: auto;
  align-items: center;
  /* text-align: center; */
  padding: 10px;
  min-height: 80px;
  justify-content: center;
  position: relative;
  display: flex;
}

.Login-Page-Input-2 {
  max-width: 400px;
  padding: 10px;
  margin: auto;
  align-items: center;
  min-height: 80px;
  justify-content: center;
  position: relative;
  display: flex;
}

.Login-Page-BG button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: white;
  border: #dcdcdc 1px solid;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 50px;
  padding: 7px;
  font-weight: 500;
}

.Login-Page-BG button a {
  text-decoration: none;
  color: black;
}

.field-group {
  width: 600px;
  position: relative;
  padding-top: 15px;
}

.input-field {
  width: 100%;
  outline: 0;
  text-align: center;
  border: 0;
  border-bottom: 2px solid #999999;
  padding: 10px 0;
  background: transparent;
  font-size: 20px;
  color: #000;
  transition: 0.3s ease;
}

.input-label {
  display: block;
  position: absolute;
  top: 0;
  font-size: 1em;
  color: #333333;
  /* text-transform: uppercase; */
  transition: 0.3s ease;
}

.input-field::placeholder {
  color: transparent;
}

.input-field:placeholder-shown ~ .input-label {
  font-size: 20px;
  top: 30px;
}

.input-field:focus {
  border-image: linear-gradient(to right, #637a73, #637a73);
  border-image-slice: 1;
}

.input-field:focus ~ .input-label {
  display: block;
  position: absolute;
  top: 0;
  font-size: 1em;
  color: #637a73;
}

.Login-Page-Texts {
  margin-top: 100px;
}

.Login-Page-Texts p {
  margin: auto;
  max-width: 750px;
  padding: 10px;
  line-height: 1.5;
}

.Login-Page-Texts h3 {
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 10px;
}

.Login-Page-Button h3 {
  font-weight: 400;
  margin-bottom: 5px;
}

.Login-Page-BG .Login-Button {
  max-width: 350px;
  text-align: center;
  padding: 10px;
  margin: auto;
}

.Login-Page-BG .Login-Button a {
  text-decoration: none;
  color: #000;
}

/*================== End Login =========================*/

/*================== Start Signup =========================*/

.Signup-Page-BG {
  background-image: url("/img/Login-Signup-BG1.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  overflow-y: auto;
  background-repeat: no-repeat;
  height: 100vh;
}

.Signup-Page-BG .Logo {
  padding: 250px 15px 70px 15px;
  max-width: 120px;
  height: auto;
  text-align: center;
  margin: auto;
}

.Signup-Page-BG .Logo img {
  width: 100%;
}

.Signup-Page-Input-1 {
  max-width: 400px;
  margin: auto;
  align-items: center;
  min-height: 70px;
  justify-content: center;
  position: relative;
  padding: 0 15px;
  display: flex;
}

.Signup-Page-Input-2 {
  max-width: 400px;
  margin: auto;
  align-items: center;
  font-family: "Poppins", sans-serif;
  min-height: 70px;
  justify-content: center;
  position: relative;
  display: flex;
  padding: 0 15px;
}

.Signup-Page-Input-3 {
  max-width: 400px;
  margin: auto;
  align-items: center;
  font-family: "Poppins", sans-serif;
  min-height: 70px;
  justify-content: center;
  position: relative;
  padding: 0 15px;
  display: flex;
}

.Signup-Page-BG button {
  width: 100%;
  margin-top: 10px;
  outline: none;
  background-color: white;
  border: #dcdcdc 1px solid;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 50px;
  padding: 7px;
  font-weight: 500;
}
.Signup-Page-BG select {
  width: 370px;
  outline: none;
  background: transparent;
  border: 0;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  border-bottom: 2px solid #999999;
}
.Signup-Page-BG button a {
  text-decoration: none;
  color: black;
}

.field-group {
  max-width: 600px;
  position: relative;
  padding-top: 15px;
}

.input-field {
  width: 100%;
  outline: 0;
  text-align: center;
  border: 0;
  border-bottom: 2px solid #999999;
  padding: 10px 0;
  background: transparent;
  font-size: 20px;
  color: #000;
  transition: 0.3s ease;
}

.input-label {
  display: block;
  position: absolute;
  top: 0;
  font-size: 1em;
  color: #333333;
  /* text-transform: uppercase; */
  transition: 0.3s ease;
}

.input-field::placeholder {
  color: transparent;
}

.input-field:placeholder-shown ~ .input-label {
  font-size: 20px;
  top: 25px;
}

.input-field:focus {
  border-image: linear-gradient(to right, #637a73, #637a73);
  border-image-slice: 1;
}

.input-field:focus ~ .input-label {
  display: block;
  position: absolute;
  top: 0;
  font-size: 1em;
  color: #637a73;
}

.Signup-Page-Texts {
  margin-top: 100px;
  padding: 0 15px;
}

.Signup-Page-Texts p {
  margin: auto;
  max-width: 750px;
  line-height: 1.5;
}

.Signup-Page-Texts h3 {
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 10px;
}

.Signup-Page-Button h3 {
  font-weight: 400;
  margin-bottom: 5px;
}

.Signup-Page-BG .Signup-Button {
  max-width: 350px;
  text-align: center;
  padding: 10px;
  margin: auto;
}

.Signup-Page-BG .Signup-Button a {
  text-decoration: none;
  color: #000;
}

/*================== End Signup =========================*/

/*================== Start Patient Details ===============*/

.Patient-Details-BG {
  background-image: url("/img/Login-Signup-BG1.jpg");
  background-position: center;
  background-size: cover;
  overflow-y: auto;
  text-align: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.Patient-Details-BG .Patient-Details-Logo {
  width: 100px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Patient-Details-BG .Main-Div {
  width: 1400px;
  height: 920px;
  border-radius: 30px;
  margin: auto;
  /* background-color: white; */
}

.Patient-Details-BG .Main-Div h3 {
  padding-top: 20px;
  font-size: 25px;
  font-weight: 500;
}

.Patient-Details-BG .Main-Div .Input-Flex .row-1 {
  display: flex;
  justify-content: space-between;
}

.Patient-Details-BG .Main-Div .Input-Flex .row-2 {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.Patient-Details-BG .Main-Div .Input-Flex .row-3 {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.field-group {
  max-width: 600px;
  position: relative;
  padding-top: 15px;
}

.input-field-1 {
  width: 100%;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #d9d9d9;
  padding: 10px 0;
  background: transparent;
  font-size: 20px;
  color: #000;
  text-align: left;
  transition: 0.3s ease;
}

.input-label {
  display: block;
  position: absolute;
  top: 0;
  font-size: 1em;
  color: #4d4d4d;
  /* text-transform: uppercase; */
  transition: 0.3s ease;
}

.input-field-1::placeholder {
  color: transparent;
}

.input-field-1:placeholder-shown ~ .input-label {
  font-size: 20px;
  top: 25px;
  font-weight: 400;
}

.input-field-1:focus {
  border-image: linear-gradient(to right, #637a73, #637a73);
  border-image-slice: 1;
}

.input-field-1:focus ~ .input-label {
  display: block;
  position: absolute;
  top: 0;
  font-size: 1em;
  color: #637a73;
}

.Patient-Details-Inputs {
  max-width: 400px;
  margin: auto;
  align-items: center;
  min-height: 70px;
  position: relative;
  padding: 0 15px;
  display: flex;
}

.Patient-Details-BG button {
  width: 400px;
  margin-top: 10px;
  background-color: white;
  border: #dcdcdc 1px solid;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 10px;
  border-radius: 50px;
  padding: 7px;
  font-weight: 500;
}
.Tooth-Description-Total .Add-Btn {
  width: 300px;
  margin-top: 10px;
  border-radius: 30px;
  border: 0px;
  font-size: 28px;
  cursor: pointer;
  font-weight: 500;
  background: #e77070;
  width: 200px;
  color: #fff;
}

.Patient-Details-BG button a {
  text-decoration: none;
  color: #000;
}
.Patient-Details-BG .Details-Inputs {
  margin-top: 100px;
}
.Patient-Details-BG .Details-Inputs .side-input {
  width: 400px;
  text-align: center;
  padding: 10px;
  border: 1px solid #d9d9d9;
  background: none;
  outline: none;
}

.Patient-Details-BG .Main-Div .Details-Inputs .center-input {
  width: 850px;
  border: 1px solid #d9d9d9;
  padding: 10px;
  background: none;
  outline: none;
}

.Patient-Details-BG .Details-Inputs .Detail-Heading-Text h3 {
  font-size: 20px;
}

.Patient-Details-BG .Details-Inputs .Detail-Heading-Text {
  display: flex;
  justify-content: center;
  gap: 20%;
  margin-bottom: 10px;
}

.Patient-Details-BG .Plus-Btn {
  background: #e77070;
  width: 200px;
  font-size: 30px;
  color: white;
  transform: 0.5s ease;
  padding: 0px;
}
.Patient-Details-BG .Save-Btn {
  background: #b3e770;
  width: 200px;
  font-size: 22px;
  color: #4d4d4d;
  transform: 0.5s ease;
}
.Save-Btn {
  width: 300px;
  margin-top: 10px;
  border-radius: 30px;
  border: 0px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  background: #b3e770;
  width: 200px;
  color: #4d4d4d;
}

.Tooth-Description-Total .Details-Inputs .side-input {
  width: 100px;
  padding: 10px;
  border: 1px solid #d9d9d9;
  outline: none;
  background: none;
}

.Tooth-Description-Total .Details-Inputs .center-input {
  width: 850px;
  border: 1px solid #d9d9d9;
  background: none;

  padding: 10px;
  /* padding-top: 100px; */
  outline: none;
}
.Tooth-Description-Total .side-input-flex {
  display: flex;
  width: 200px;
}

.Tooth-Description-Total .Details-Inputs .Detail-Heading-Text h3 {
  font-size: 20px;
}

.Tooth-Description-Total .Details-Inputs .Detail-Heading-Text {
  display: flex;
  justify-content: center;
  gap: 29%;
  padding-top: 50px;
  margin-bottom: 10px;
}

.Tooth-Description-Total {
  width: 1500px;
  height: 800px;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.021), 0 6px 2px 0 rgba(0, 0, 0, 0.041);
  transform: 0.5s;
  overflow-y: auto;
  background: #ececec;
  border-radius: 30px;
  justify-content: center;
  text-align: center;
}
.Tooth-Description-Total .Details-Inputs .side-input-price {
  width: 200px;
  padding: 10px;
  background: none;
  border: 1px solid #d9d9d9;
  outline: none;
}

.Tooth-Description-Total .Details-Inputs .side-input-main-flex {
  display: flex;
  justify-content: center;
}

.Tooth-Description-Total .Submit-Btn {
  width: 300px;
  margin-top: 10px;
  background-color: white;
  border: #dcdcdc 1px solid;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50px;
  padding: 7px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
.Details-Inputs .fake-input-flex {
  display: flex;
  justify-content: center;
}
.Details-Inputs .fake-input-flex .fake-input {
  width: 250px;
  padding: 5px;
  border: 1px solid #d9d9d9;
}
.Details-Inputs .fake-input-flex .fake-input-long {
  width: 550px;
  padding: 5px;
  border: 1px solid #d9d9d9;
}
.Details-Inputs .fake-input-flex h4 {
  font-size: 20px;
  font-weight: 400;
}

.Details-Inputs input {
  width: 200px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #d9d9d9;
  padding: 10px 0;
  background: transparent;
  font-size: 20px;
  color: #000;
  text-align: left;
  transition: 0.3s ease;
}
.Tooth-Description-Total .Details-Inputs {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}
.Tooth-Description-Total .Details-Inputs .left-side-input {
  gap: 50px;
  display: flex;
}
.Tooth-Description-Total .Treatment-Price {
  width: 100px;
  margin-top: 80px;
  justify-content: center;
  display: flex;
}
.Tooth-Description-Total .Treatment-Price input {
  width: 35px;
  padding: 5px;
  text-align: center;
  font-size: 18px;
}
.Tooth-Description-Total .Treatment-Price .left-top-input {
  border: 0;
  background: none;
  outline: none;
  border-bottom: 3px solid #d9d9d9;
}
.Tooth-Description-Total .Treatment-Price .right-top-input {
  border: 0;
  background: none;
  outline: none;
  border-left: 3px solid #d9d9d9;
  border-bottom: 3px solid #d9d9d9;
}
.Tooth-Description-Total .Treatment-Price .left-bottom-input {
  border: 0;
  background: none;
  outline: none;
}
.Tooth-Description-Total .Treatment-Price .right-bottom-input {
  border: 0;
  background: none;
  outline: none;
  border-left: 3px solid #d9d9d9;
}
.Tooth-Description-Total .Treatment-Price-Flex {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.Tooth-Description-Total .Treatment-Price-Flex textarea {
  padding: 10px;
  border: 0;
  border-bottom: 2px solid #d9d9d9;
  background: none;
  outline: none;
  margin-top: 80px;
}
.Tooth-Description-Total .Treatment-Price-Flex .Price-input {
  margin-top: 100px;
}
.Tooth-Description-Total .Popup-Buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}
.Tooth-Description-Fixed {
  width: 1500px;
  height: 200px;
  border-radius: 30px;
  justify-content: center;
  text-align: center;
}
.Tooth-Description-Fixed .Treatment-Price-Flex .Price-input {
  margin-top: 100px;
}
.Tooth-Description-Fixed .Treatment-Price-Flex textarea {
  padding: 10px;
  border: 0;
  border-bottom: 2px solid #d9d9d9;
  background: none;
  outline: none;
  margin-top: 80px;
}
.Tooth-Description-Fixed .Treatment-Price-Flex {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.Tooth-Description-Fixed .Details-Inputs {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}
.Tooth-Description-Fixed .Details-Inputs .left-side-input {
  gap: 50px;
  display: flex;
}
.Tooth-Description-Fixed .Treatment-Price {
  width: 100px;
  margin-top: 80px;
  justify-content: center;
  display: flex;
}
.Tooth-Description-Fixed .Treatment-Price input {
  width: 35px;
  padding: 5px;
  text-align: center;
  font-size: 18px;
}
.Tooth-Description-Fixed .Treatment-Price .left-top-input {
  border: 0;
  background: none;
  outline: none;
  border-bottom: 3px solid #d9d9d9;
}
.Tooth-Description-Fixed .Treatment-Price .right-top-input {
  border: 0;
  background: none;
  outline: none;
  border-left: 3px solid #d9d9d9;
  border-bottom: 3px solid #d9d9d9;
}
.Tooth-Description-Fixed .Treatment-Price .left-bottom-input {
  border: 0;
  background: none;
  outline: none;
}
.Tooth-Description-Fixed .Treatment-Price .right-bottom-input {
  border: 0;
  background: none;
  outline: none;
  border-left: 3px solid #d9d9d9;
}
.Tooth-Description-Fixed .Details-Inputs .side-input-price {
  width: 200px;
  padding: 10px;
  background: none;
  border: 1px solid #d9d9d9;
  outline: none;
}

.Tooth-Description-Fixed .Details-Inputs .side-input-main-flex {
  display: flex;
  justify-content: center;
}

.Fill-Inputs .fill-input-flex {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.Fill-Inputs .fill-input-flex .fill-input {
  width: 250px;
}
.Fill-Inputs .fill-input-flex .fill-input-long input {
  width: 500px;
}
.Fill-Inputs .fill-input-flex h4 {
  font-size: 20px;
  font-weight: 400;
}

.Fill-Inputs input {
  width: 200px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #d9d9d9;
  padding: 10px 0;
  background: transparent;
  font-size: 20px;
  color: #000;
  text-align: center;
  transition: 0.3s ease;
}
.Patient-Details-BG .Fill-Inputs {
  margin-top: 20px;
}
/*===============  End Patient Details =================*/

/*================== Start Treatment Plan ==================*/

.Treatment-Plan-BG {
  background-image: url("/img/Login-Signup-BG1.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat;
  height: auto;
}

.Treatment-Plan-BG .Logo {
  padding: 250px 15px 70px 15px;
  max-width: 558px;
  height: auto;
  text-align: center;
  margin: auto;
}

.Treatment-Plan-BG .Logo img {
  width: 100%;
}

.Treatment-Plan-Flex {
  max-width: 1200px;
  margin: auto;
}

.Treatment-Plan-Flex .teeth img {
  margin-top: 50px;
  width: 100%;
  height: auto;
  padding: 0 10px;
}
/*================== End Treatment Plan ==================*/

/*================== Start Things ==================*/

.Things-BG {
  background-image: url("/img/Login-Signup-BG1.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  overflow-y: auto;
  background-repeat: no-repeat;
  height: 100vh;
}
.Things-BG .Box-Flex {
  padding-top: 100px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-bottom: 150px;
}
/* .Things-BG .Logo {
  padding: 80px 15px 70px 15px;
  padding-bottom: 70px;
  max-width: 120px;
  height: auto;
  text-align: center;
  margin: auto;
} */
.Things-BG .Bottom-Text p {
  color: #929292;
  margin: auto;
  /* padding: 10px; */
  margin-bottom: 50px;
}
.Things-BG .Bottom-Text h3 {
  font-weight: 400;
  padding-bottom: 20px;
}
.Things-BG .Box-Flex a {
  text-decoration: none;
  color: black;
}

/*================ Box 1 ========================*/

.Things-BG .Box-Flex .Box-01 {
  text-align: center;
  width: 300px;

  padding: 20px;
  height: 500px;
  cursor: pointer;
  border-radius: 40px;
  background: #fffaee;
  border: 4px solid #ffe097;
  transition: 0.5s ease;
}
.Things-BG .Box-Flex .Box-01:hover {
  scale: 1.1;
  box-shadow: 0 5px 10px 0 #e5d9b9, 0 50px 100px 0 #e5d9b9;
}

.Things-BG .Box-Flex .Box-01 .Box-Text h3 {
  margin-bottom: 50px;
  font-weight: 400;
  line-height: 0.5;
  font-size: 40px;
}
.Things-BG .Box-Flex .Box-01 .Box-Text p {
  /* margin-bottom: 50px; */
  font-weight: 300;
  margin: auto;
  max-width: 231px;
  font-size: 13px;
}
.Things-BG .Box-Flex .Box-01 .Icon-Circle img {
  width: 250px;
  height: 250px;
}
.Things-BG .Bottom-Text {
  text-align: center;
  /* width: 794px; */
  margin: auto;
  padding: 10px;
}

/*=========================== Box 1 ==========================*/

/*========================= Box 2 ==========================*/

.Things-BG .Box-Flex .Box-02 {
  text-align: center;
  width: 300px;

  padding: 20px;
  height: 500px;
  cursor: pointer;
  border-radius: 40px;
  background: #eaf2ff;
  border: 4px solid #c4daff;
  transition: 0.5s ease;
}
.Things-BG .Box-Flex .Box-02:hover {
  scale: 1.1;
  box-shadow: 0 5px 10px 0 #c9dfff, 0 50px 100px 0 #c9dfff;
}

.Things-BG .Box-Flex .Box-02 .Box-Text h3 {
  margin-bottom: 50px;
  font-weight: 400;
  line-height: 0.5;
  font-size: 40px;
}
.Things-BG .Box-Flex .Box-02 .Box-Text p {
  /* margin-bottom: 50px; */
  font-weight: 300;
  margin: auto;
  max-width: 231px;
  font-size: 13px;
}
.Things-BG .Box-Flex .Box-02 .Icon-Circle img {
  width: 250px;
  height: 250px;
}

/*========================= Box 2 ==========================*/

/*========================= Box 3 ==========================*/

.Things-BG .Box-Flex .Box-03 {
  text-align: center;
  width: 300px;

  padding: 20px;
  height: 500px;
  cursor: pointer;
  border-radius: 40px;
  background: #e7fff0;
  border: 4px solid #b4ffd0;
  transition: 0.5s ease;
}
.Things-BG .Box-Flex .Box-03:hover {
  scale: 1.1;
  box-shadow: 0 5px 10px 0 #d2ffe4, 0 50px 100px 0 #d2ffe4;
}

.Things-BG .Box-Flex .Box-03 .Box-Text h3 {
  margin-bottom: 50px;
  font-weight: 400;
  line-height: 0.5;
  font-size: 40px;
}
.Things-BG .Box-Flex .Box-03 .Box-Text p {
  /* margin-bottom: 50px; */
  font-weight: 300;
  margin: auto;
  max-width: 231px;
  font-size: 13px;
}
.Things-BG .Box-Flex .Box-03 .Icon-Circle img {
  width: 250px;
  height: 250px;
}

/*========================= Box 3 ==========================*/

/*================== End Things ==================*/

/*====================== All Patient =================*/

.All-Patient-BG {
  background-image: url("/img/Login-Signup-BG1.jpg");
  background-position: center;
  background-size: cover;
  overflow-y: scroll;
  width: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.All-Patient-BG .All-Patient-Header {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.All-Patient-BG .Appointment-Button {
  display: flex;
  align-items: center;
}
.All-Patient-BG .Appointment-Button button {
  /* padding: 10px; */
  width: 50px;
  border: none;
  font-size: 30px;
  font-weight: 500;
  color: white;
  background: #e77070;
  cursor: pointer;
  border-radius: 50px;
  height: 50px;
}
.All-Patient-BG .Appointment-Button h4 {
  font-size: 20px;
  margin-right: 10px;
  margin-left: 20px;
  font-weight: 400;
  color: #929292;
}
.All-Patient-BG .Appointment-Button input {
  border: none;
  transition: 0.5s ease;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.075),
    0 3px 40px 0 rgba(0, 0, 0, 0.062);
  outline: none;
  border-radius: 30px;
  width: 300px;
}
.All-Patient-BG .All-Patient-Header h2 {
  font-size: 40px;
  color: #929292;
  font-weight: 500;
}
.All-Patient-BG .All-Patient-Header h2 span {
  font-size: 40px;
  color: #b3e770;
  font-weight: 500;
}

.All-Patient-BG .First-Patient {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: black;
  align-items: center;
  padding: 5px;
  border-radius: 20px;
  flex-wrap: wrap;
  background-color: white;
  max-width: 1900px;
  margin: auto;
  gap: 20px;
  transition: 0.5s ease;
}
.All-Patient-BG .First-Patient:hover {
  scale: 1.03;
}
.All-Patient-BG .Patients-List {
  width: 100%;
}
.All-Patient-BG .First-Patient input {
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 15px;
}
.All-Patient-BG .First-Patient .patient-id {
  display: flex;
  align-items: center;
  gap: 10px;
}
.All-Patient-BG .First-Patient .patient-id img {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.All-Patient-BG .Patients-List {
  margin-top: 2px;
}
.All-Patient-BG .Patients-List h4 {
  width: 200px;
  font-size: 20px;
  font-weight: 500;
}
.All-Patient-BG .Patients-List p {
  font-size: 16px;
  font-weight: 500;
  color: #929292;
}
.All-Patient-BG .Patients-List .Options {
  font-size: 30px;
}

.Options-For-Patient {
  width: 170px;
  height: 90px;
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.021), 0 6px 2px 0 rgba(0, 0, 0, 0.041);
  transform: 0.5s;
  background: #fff;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}
.Options-For-Patient .Option-Flex {
  padding: 20px;
  align-items: center;
}

.Options-For-Patient .Option-Flex .Delete {
  display: flex;
  align-items: center;
  color: #838f9a;
  gap: 5px;
  text-decoration: none;
  border: none;
  margin-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
}
.Options-For-Patient .Option-Flex button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.Options-For-Patient .Option-Flex .Edit {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  color: #838f9a;
  border-radius: 20px;
  cursor: pointer;
}
.Options-For-Patient .Option-Flex .Delete .Delete-Icon {
  padding: 1px;
  border-radius: 50px;
  font-size: 25px;
}
.Options-For-Patient .Option-Flex .Edit .Edit-Icon {
  padding: 1px;
  border-radius: 50px;
  font-size: 25px;
}
.Appointment-Input input {
  border: none;
  transition: 0.5s ease;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.075),
    0 3px 40px 0 rgba(0, 0, 0, 0.062);
  outline: none;
  border-radius: 30px;
  transition: 0.5s ease;
  width: 300px;
}

.Appointment-Input input:hover {
  scale: 1.05;
}
.Options-For-Patient .Option-Flex a {
  text-decoration: none;
}
.All-Patient {
  overflow-y: auto;
  height: 900px;
  max-width: 2000px;
  margin: auto;
  padding: 10px;
}
/*====================== All Patient =================*/

/*====================== Appopinments ====================*/

/*================== Calendar ============================*/

.react-calendar {
  width: 350px;
  border-radius: 10px;
  max-width: 100%;
  background: white;
  border: 1px solid #d4d4d4;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 1em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px;
padding: 1px;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 1em;
  color: #a5a5a5;
  font-weight: 500;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  font-weight: 400;
  
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #000 !important;
  
  
}

.react-calendar__month-view__days__day--weekend:hover {

  color: #000 !important;
  
}
.react-calendar__month-view__days__day--weekend:focus{
  color: white !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  color: #07C7E0 !important;
  background: none !important;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: none;
  color: #07C7E0 !important;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: #07C7E0;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}



/*================== Calendar ============================*/


.Appoinments-BG .calendar {
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  align-items: center;
}
.Appoinments-BG .calendar .dd-mm-yy {
  padding: 50px;
  width: 450px;
  height: 450px;
  margin-bottom: 50px;
}
.Appoinments-BG .calendar .Events {
  padding: 50px;
}
/* .Appoinments-BG .calendar .Events .Events-Scroll{
  width: 450px;
  padding: 10px;
  height: 450px;
  overflow-y:auto;
} */
.Appoinments-BG .calendar .Events h3 {
  font-size: 30px;
  font-weight: 600;
}
.Appoinments-BG .calendar .Events h4 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
.Appoinments-BG .calendar .Events h4 span {
  font-size: 20px;
  font-weight: 500;
  line-height: 3;
  color: #35d1e6;
}
.Appoinments-BG .calendar .Events h4 .clock-icon {
  font-size: 20px;
}
.Appoinments-BG .calendar .Events h5 {
  font-size: 18px;
  font-weight: 400;
}

.Appoinments-BG .calendar .Events .today-events {
  border: 1px solid #b6b6b6;
  border-radius: 10px;
  padding: 15px;
  align-items: center;
  margin-top: 20px;
}
.Appoinments-BG .calendar .Appopinment-Details h4 {
  font-size: 20px;
  width: 100px;
  color: #868686;
  font-weight: 400;
}

.Appoinments-BG .calendar .Appopinment-Details .time-details {
  display: flex;
  padding: 10px;
  max-width: 1800px;
  align-items: center;
  border: 1px solid #ebebeb;
}
.Appoinments-BG .calendar .Appopinment-Details .time-details input {
  width: 1587px;
  border: 0;
  border-bottom: 1px solid #ebebeb;
  outline: none;
  padding: 8px;
}
.Appoinments-BG .calendar .Appopinment-Details .Create-Event {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
}
.Appoinments-BG .calendar .Appopinment-Details .Create-Event .Date-Day h4 {
  width: 260px;
}
.Appoinments-BG
  .calendar
  .Appopinment-Details
  .Create-Event
  .create-btn-search {
  gap: 10px;
}
.Appoinments-BG .calendar .Appopinment-Details .Create-Event button {
  padding: 10px;
  width: 200px;
  background: #07c7e0;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 10px;
}

.Appoinments-BG .calendar .Appopinment-Details .time-details .time {
  border-right: 1px solid #ebebeb;
  height: 80px;
  margin-left: 100px;
}

.Appoinments-BG .Appopinment-Details .Create-Event input {
  background-color: #fafafa;
  border: 0;
  height: 50px;
  outline: none;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
}
.Time-Message{
  width: 1550px;
  border-radius: 20px;
  color: white;
  padding: 20px;
  height: 300px;
  background-color: #EC407A;
}
.Time-Message textarea{
  color: white;
  padding: 10px;
  background: none;
  overflow: hidden;
  font-size: 20px;
  border: 0;
  outline: none;
  /* border-bottom: 1px solid #EEEEEE; */
}




/*================== scrollbar ====================*/

.scrollbar {
  float: left;
  height: 300px;
  width: 462px;
  padding-right: 10px;
  overflow-y: scroll;
}

.force-overflow {
  min-height: 450px;
}

#wrapper {
  text-align: center;
  width: 500px;
  margin: auto;
}

#style-4::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: #fafafa;
}

#style-4::-webkit-scrollbar {
  width: 8px;
  background-color: #07c7e0;
}

#style-4::-webkit-scrollbar-thumb {
  background-color: #07c7e0;
  border: 2px solid white;
}

/*================== scrollbar ====================*/

/*====================== Appopinments ====================*/

/*============== Team ====================*/

.Team-BG {
  background-image: url("/img/Login-Signup-BG1.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  overflow-y: auto;
  background-repeat: no-repeat;
  height: 100vh;
}
.Team-BG .All-Team-Member {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  margin: auto;
  max-width: 1300px;
}
.Team-BG .All-Team-Member img {
  width: 350px;
  cursor: pointer;
  height: 350px;
  border: 2px solid white;
  transition: 0.5s ease;
  margin-top: 50px;
  border-radius: 100%;
  filter: drop-shadow(0 0 0.4rem rgb(19, 19, 19));
}
.Team-BG .All-Team-Member img:hover {
  scale: 1.06;
}
.Team-BG .All-Team-Member h3 {
  font-size: 36px;
  font-weight: 500;
  color: #4c4c4c;
}
.Team-BG .bottom-text {
  text-align: center;
  margin-top: 50px;
}
.Team-BG .bottom-text h4 {
  font-size: 20px;
  font-weight: 500;
}

/*============== Team ====================*/

/*============== Add Member ================*/

.add-member-bg {
  background-image: url("/img/Login-Signup-BG1.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  text-align: center;
  overflow-y: auto;
  background-repeat: no-repeat;
  height: 100vh;
}
.add-member-bg h2 {
  font-size: 32px;
  font-weight: 400;
}
.add-member-bg h3 {
  font-size: 36px;
  font-weight: 400;
}
.add-member-bg .Profile-img img {
  width: 350px;
  cursor: pointer;
  height: 350px;
  border: 2px solid white;
  transition: 0.5s ease;
  margin-top: 50px;
  border-radius: 100%;
  filter: drop-shadow(0 0 0.4rem rgb(19, 19, 19));
}

/*============== Add Member ================*/
