@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/*================== Start Login Signup =========================*/

.Login-Signup-Page-BG {
    background-image: url('/img/Login-Signup-BG1.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.Login-Signup-Page-BG .Logo {
    padding-top: 250px;
    padding-bottom: 70px;
    max-width: 558px;
    height: auto;
    text-align: center;
    margin: auto;
}

.Login-Signup-Page-BG .Logo img {
    width: 100%;
}

.Login-Signup-Page-BG .Login-Signup-Page-Button {
    width: 500px;
    margin: auto;
}

.Login-Signup-Page-BG .Login-Signup-Page-Button button {
    width: 100%;
    margin-top: 10px;
    background-color: white;
    border: #dcdcdc 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    padding: 7px;
    font-weight: 500;
}

.Login-Signup-Page-BG .Login-Signup-Page-Button button a {
    text-decoration: none;
    color: black;
}

.Login-Signup-Page-Texts {
    margin-top: 100px;
}

.Login-Signup-Page-Texts p {
    margin: auto;
    max-width: 750px;
    line-height: 1.5;
}

.Login-Signup-Page-Texts h3 {
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
}

.Login-Signup-Page-Button h3 {
    font-weight: 400;
    margin-bottom: 5px;
}


/*================== End Login Signup =========================*/


/*================== Start Login =========================*/

.Login-Page-BG {
    background-image: url('/img/Login-Signup-BG1.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.Login-Page-BG .Logo {
    padding-top: 250px;
    padding-bottom: 70px;
    max-width: 558px;
    height: auto;
    text-align: center;
    margin: auto;
}

.Login-Page-BG .Logo img {
    width: 100%;
}

.Login-Page-Input-1 {
    max-width: 400px;
    margin: auto;
    align-items: center;
    /* text-align: center; */
    min-height: 80px;
    justify-content: center;
    position: relative;
    display: flex;
}

.Login-Page-Input-2 {
  max-width: 400px;
  margin: auto;
  align-items: center;
  min-height: 80px;
  justify-content: center;
  position: relative;
  display: flex;
}

.Login-Page-BG button {
    width: 350px;
    margin-top: 10px;
    background-color: white;
    border: #dcdcdc 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 50px;
    padding: 7px;
    font-weight: 500;
}

.Login-Page-BG button a {
    text-decoration: none;
    color: black;
}

.field-group {
    width: 600px;
    position: relative;
    padding-top: 15px;
}

.input-field {
    width: 100%;
    outline: 0;
    text-align: center;
    border: 0;
    border-bottom: 2px solid #999999;
    padding: 10px 0;
    background: transparent;
    font-size: 20px;
    color: #000;
    transition: 0.3s ease;
}

.input-label {
    display: block;
    position: absolute;
    top: 0;
    font-size: 1em;
    color: #333333;
    /* text-transform: uppercase; */
    transition: 0.3s ease;
}

.input-field::placeholder {
    color: transparent;
}

.input-field:placeholder-shown~.input-label {
    font-size: 20px;
    top: 30px;
}

.input-field:focus {
    border-image: linear-gradient(to right, #637A73, #637A73);
    border-image-slice: 1;
}

.input-field:focus~.input-label {
    display: block;
    position: absolute;
    top: 0;
    font-size: 1em;
    color: #637A73;
}

.Login-Page-Texts {
    margin-top: 100px;
}

.Login-Page-Texts p {
    margin: auto;
    max-width: 750px;
    line-height: 1.5;
}

.Login-Page-Texts h3 {
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
}

.Login-Page-Button h3 {
    font-weight: 400;
    margin-bottom: 5px;
}

.Login-Page-BG .Login-Button {
    max-width: 350px;
    text-align: center;
    margin: auto;
}

.Login-Page-BG .Login-Button a {
    text-decoration: none;
    color: #000;
}


/*================== End Login =========================*/


/*================== Start Signup =========================*/

.Signup-Page-BG {
    background-image: url('/img/Login-Signup-BG1.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.Signup-Page-BG .Logo {
    padding-top: 250px;
    padding-bottom: 70px;
    max-width: 558px;
    height: auto;
    text-align: center;
    margin: auto;
}

.Signup-Page-BG .Logo img {
    width: 100%;
}

.Signup-Page-Input-1 {
    max-width: 400px;
    margin: auto;
    align-items: center;
    min-height: 70px;
    justify-content: center;
    position: relative;
    padding: 0 15px;
    display: flex;
}

.Signup-Page-Input-2 {
    max-width: 400px;
    margin: auto;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    min-height: 70px;
    justify-content: center;
    position: relative;
    display: flex;
    padding: 0 15px;
}

.Signup-Page-Input-3 {
    max-width: 400px;
    margin: auto;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    min-height: 70px;
    justify-content: center;
    position: relative;
    padding: 0 15px;
    display: flex;
}

.Signup-Page-BG button {
    width: 100%;
    margin-top: 10px;
    background-color: white;
    border: #dcdcdc 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 50px;
    padding: 7px;
    font-weight: 500;
}

.Signup-Page-BG button a {
    text-decoration: none;
    color: black;
}

.field-group {
    max-width: 600px;
    position: relative;
    padding-top: 15px;
}

.input-field {
    width: 100%;
    outline: 0;
    text-align: center;
    border: 0;
    border-bottom: 2px solid #999999;
    padding: 10px 0;
    background: transparent;
    font-size: 20px;
    color: #000;
    transition: 0.3s ease;
}

.input-label {
    display: block;
    position: absolute;
    top: 0;
    font-size: 1em;
    color: #333333;
    /* text-transform: uppercase; */
    transition: 0.3s ease;
}

.input-field::placeholder {
    color: transparent;
}

.input-field:placeholder-shown~.input-label {
    font-size: 20px;
    top: 25px;
}

.input-field:focus {
    border-image: linear-gradient(to right, #637A73, #637A73);
    border-image-slice: 1;
}

.input-field:focus~.input-label {
    display: block;
    position: absolute;
    top: 0;
    font-size: 1em;
    color: #637A73;
}

.Signup-Page-Texts {
    margin-top: 100px;
    padding: 0 15px;
}

.Signup-Page-Texts p {
    margin: auto;
    max-width: 750px;
    line-height: 1.5;
}

.Signup-Page-Texts h3 {
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
}

.Signup-Page-Button h3 {
    font-weight: 400;
    margin-bottom: 5px;
}

.Signup-Page-BG .Signup-Button {
    max-width: 350px;
    text-align: center;
    margin: auto;
}

.Signup-Page-BG .Signup-Button a {
    text-decoration: none;
    color: #000;
}


/*================== End Signup =========================*/

/*================== Start Patient Details ===============*/


.Patient-Details-BG {
    background-image: url('/img/Login-Signup-BG1.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.Patient-Details-BG .Patient-Details-Logo {
    margin-top: 50px;
margin-bottom: 50px;
}
.Patient-Details-BG .Main-Div{
    width: 1400px;
    height: 920px;
    border-radius: 30px;
    margin: auto;
    background-color: white;
}
.Patient-Details-BG .Main-Div h3{
    padding-top: 20px;
    font-size: 25px;
    font-weight: 500;
}
.Patient-Details-BG .Main-Div .Input-Flex .row-1{
    display: flex;
justify-content: space-between;
}
.Patient-Details-BG .Main-Div .Input-Flex .row-2{
    display: flex;
    margin-top: 40px;
justify-content: space-between;
}
.Patient-Details-BG .Main-Div .Input-Flex .row-3{
    display: flex;
    margin-top: 40px;
justify-content: space-between;
}
.field-group {
    max-width: 600px;
    position: relative;
    padding-top: 15px;
}

.input-field-1 {
    width: 100%;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #999999;
    padding: 10px 0;
    background: transparent;
    font-size: 20px;
    color: #000;
    text-align: left;
    transition: 0.3s ease;
}

.input-label {
    display: block;
    position: absolute;
    top: 0;
    font-size: 1em;
    color: #333333;
    /* text-transform: uppercase; */
    transition: 0.3s ease;
}

.input-field-1::placeholder {
    color: transparent;
}

.input-field-1:placeholder-shown~.input-label {
    font-size: 20px;
    top: 25px;
    font-weight: 400;
}

.input-field-1:focus {
    border-image: linear-gradient(to right, #637A73, #637A73);
    border-image-slice: 1;
}

.input-field-1:focus~.input-label {
    display: block;
    position: absolute;
    top: 0;
    font-size: 1em;
    color: #637A73;
}
.Patient-Details-Inputs {
    max-width: 400px;
    margin: auto;
    align-items: center;
    min-height: 70px;
    position: relative;
    padding: 0 15px;
    display: flex;
}
.Patient-Details-BG button {
    width: 400px;
    margin-top: 10px;
    background-color: white;
    border: #dcdcdc 1px solid;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 10px;
    border-radius: 50px;
    padding: 7px;
    font-weight: 500;
}
.Patient-Details-BG button a{
    text-decoration: none;
    color: #000;
}
.Patient-Details-BG .Main-Div .Details-Inputs{
    margin-top: 30px;
} 
.Patient-Details-BG .Main-Div .Details-Inputs .side-input{
    width: 180px;
    padding: 10px;
    border: 1px solid #D9D9D9;
    outline: none;
}
.Patient-Details-BG .Main-Div .Details-Inputs .center-input{
    width: 850px;
    border: 1px solid #D9D9D9;
    padding: 10px;
    outline: none;
}
.Patient-Details-BG .Add-Btn{
    margin: auto;
    margin-top:20px ;
    background-color: #637A73;
    width: 50px;
    height: 50px;
border: 1px solid #2a5749;
    border-radius: 50px;
}
.Patient-Details-BG .Add-Btn h2{
font-size: 34px;
font-weight: 400;
cursor: pointer;
color: white;
}

/*================== End Patient Details ===============*/

/*================== Start Treatment Plan ==================*/

.Treatment-Plan-BG{
    background-image: url('/img/Login-Signup-BG1.jpg');
    background-position: center;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.Treatment-Plan-BG .Logo{
width: auto;
height: auto;
margin-top: 100px;
}

.Treatment-Plan-Flex{
 width: 1200px;
 margin: auto;
}
.Treatment-Plan-BG .Treatment-Plan-Flex .teeth{
    margin-top: 50px;
}

/*================== End Treatment Plan ==================*/
